{% extends "_panelbase.html" %}
{% load static %}
{% block title %}SmaartDoor - Kullanıcılar{% endblock %}
{% block main %}
    <h1 class="text-thin"><i class="fas fa-users"></i> Kullanıcılar</h1>
    <hr>
    <div class="table-responsive">
        <table id="cards" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>E-Mail</th>
                <th>Telefon</th>
                <th>Oluşturulma Tarihi</th>
                <th>Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for personnel in personnels %}
                <tr>
                    <td>{{ personnel.id }}</td>
                    <td>{{ personnel.first_name }}</td>
                    <td>{{ personnel.last_name }}</td>
                    <td>
                        {% if personnel.email %}
                            {{ personnel.email }}
                        {% endif %}
                    </td>
                    <td>
                        {% if personnel.phone_number %}
                            {{ personnel.phone_number }}
                        {% endif %}
                    </td>
                    <td>{{ personnel.create_at }}</td>
                    <td>{{ personnel.is_visible }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js_scripts %}{% endblock %}