body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #f8f9fa !important;
}

body.login {
    background: #333;
    color: #fff;
}

main {
    padding-top: 4.5rem;
}

.text-thin {
    font-weight: 100 !important;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 00px 1px 10px 6px rgba(0, 0, 0, 0.13);
}

.box-shadow2 {
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.login_page {
    position: relative;
    margin: 0 auto;
    width: 350px;
    background: #fff;
    color: #000;
    border-radius: 3px;
}

.login_page .content {
    padding: 30px 20px;
}

.mcard {
    float: left;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    font-weight: 100 !important;
    text-align: center;
    text-shadow: 0px 2px 6px #1b1e218a;
}

.mcard:hover {
    cursor: pointer;
    text-decoration: none;
}

.mcard h1 {
    font-weight: 100 !important;
    font-size: 41px;
}

.mcard svg {
    font-size: 97px !important;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.mcard.red {
    background: #c82333;
    color: #fff;
}

.mcard.red:hover {
    background: #d32f3b;
}

.mcard.yellow {
    background: #ffe100;
    color: #383d41;
}

.mcard.yellow:hover {
    background: #fff90c;
}

.mcard.blue {
    background: #1b83f5;
    color: #fff;
}

.mcard.blue:hover {
    background: #1b8dff;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    left: 250px;
}

#wrapper #sidebar-wrapper {
    left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    background: #212529;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li.active a {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 12px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    background: #343a40;
    text-indent: 0;
    color: #fff;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper .closer {
    position: absolute;
    right: -9px;
    bottom: 20px;
    background-color: #f6db00;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    color: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all .7s ease-in-out;
}

#sidebar-wrapper .closer:hover {
    cursor: pointer;
    background-color: #f8f8f8;
    color: #202123;
}

#sidebar-wrapper .closer:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 8px;
    right: 0px;
    top: -8px;
    border-radius: 6px 16px 0 0;
    background: #827500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all .7s ease-in-out;
}

#sidebar-wrapper .closer.c {
    border-radius: 0 5px 5px 0;
    right: -40px;
    background-color: #212529;
    color: #fff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    transition: all .7s ease-in-out;
}

#sidebar-wrapper .closer.c:after {
    transition: all .7s ease-in-out;
    opacity: 0;
}

/* MEDIA */
@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .mcard {
        margin: 15px auto;
    }
}