{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{% block title %}{% endblock title %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
</head>
<body class="{% block bodyclass %} {% endblock bodyclass %}">

{% block main %} {% endblock main %}

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/fontawesome/fontawesome-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
{% block js_scripts %}{% endblock js_scripts %}
</body>
</html>