{% extends "_base.html" %}
{% load static %}
{% block title %}SmartDoor - Yönetim Paneli{% endblock %}

{% block bodyclass %}login{% endblock bodyclass %}

{% block main %}
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="text-center">
                    <img class="img img-responsive center-block" src="{% static 'assets/img/logos/logo_light_alt.png' %}"
                         alt="Makdos Bilişim - Şirket İçi Yönetim Paneli">
                    <br>
                    Yönetim Paneli
                    <br><br><br>
                </div>
                <div class="login_page bs">
                    <div class="content">
                        <form action="" method="POST" id="loginfrm">
                            {% csrf_token %}
                            <input style="display:none">
                            <div class="form-group">
                                <label class="pull-left" for="username">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="username" name="admin_username" required="" value="admin">
                            </div>
                            <div class="form-group">
                                <label class="pull-left" for="password">Şifre:</label>
                                <input type="password" class="form-control" id="password" name="admin_password" required="" value="1234.Mm">
                            </div>
                            <div class="form-group">
                                <br>
                                <button type="submit" class="pull-right btn btn-primary btn-block">
                                    <i class="fa fa-sign-in-alt"></i> Giriş
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="alert alert-danger text-center" role="alert" style="display: none; width: 350px; margin: 10px auto;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}
    <script>
        $("#loginfrm").on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                method: "POST",
                url: "/",
                data: $("#loginfrm").serialize(),
                dataType: "json",
                async: false,
                success: function (result) {
                    if (!result.status) {
                        $(".alert").html(result.message).slideDown();
                        setTimeout(
                            function () {
                                $(".alert").slideUp().html("");
                            }, 3000
                        )
                    } else {
                        window.location.href = "/panel/dashboard/";
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".alert").html(jqXHR.responseText).slideDown();
                    console.log("ERROR: " + jqXHR.responseText);
                }
            })
        })
    </script>
{% endblock %}